[Desktop Entry]
Name=About Twister OS
GenericName=Twister OS About Dialog
Comment=Twister OS About Dialog, displays system information
Categories=GNOME;GTK;Utility;
Exec=com.github.libredeb.comice-about
Icon=comice-about
Terminal=false
Type=Application
StartupNotify=false
