[Desktop Entry]
Name=Twister OS About
GenericName=Twister OS About Dialog
Comment=Twister OS About Dialog, that show your hardware information
Categories=GNOME;GTK;Utility;
Exec=com.github.libredeb.comice-about
Icon=comice-about
Terminal=false
Type=Application
StartupNotify=false
